@{
  Layout = "_Layout";
}

<h1>Start a new game</h1>
<form action="/games" method="post">
<button type="submit">Begin</button>
</form>

<button><a href="/">go home</a></button>
<button><a href="/games">games list (needed?)</a></button>